@import './variables.css';

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: var(--color-primary);
  --ifm-color-primary-dark: var(--color-primary-dark);
  --ifm-color-primary-darker: var(--color-primary-darker);
  --ifm-color-primary-darkest: var(--color-primary-darker);
  --ifm-color-primary-light: var(--color-primary-light);
  --ifm-color-primary-lighter: var(--color-primary-lighter);
  --ifm-color-primary-lightest: var(--color-primary-lightest);
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: var(--color-primary);
  --ifm-color-primary-dark: var(--color-primary-dark);
  --ifm-color-primary-darker: var(--color-primary-darker);
  --ifm-color-primary-darkest: var(--color-primary-darker);
  --ifm-color-primary-light: var(--color-primary-light);
  --ifm-color-primary-lighter: var(--color-primary-lighter);
  --ifm-color-primary-lightest: var(--color-primary-lightest);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
